<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        </title>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    </head>
    <body class="metro" ng-app="ERPapp">      
        <noscript>
        Para que el sistema trabaje correctamente necesita tener activado Javascript,
        si usted puede leer este mensaje significa que javascript se encuentra desactivado.
        Active Javascript y recarge la p&aacute;gina; si no sabe como activarlo contacte 
        con el administrador.
        </noscript>
        <script>

            $(document).ready(function ()
            {
                var messages_handler = new url_handler();
                messages_handler.initialize();
                if (messages_handler.isKey('success'))
                {

                    if (messages_handler.getValue('success'))
                    {
                        var not = $.Notify({
                            caption: "Transacción correcta",
                            style: {background:'green', color:'white'},
                            content: "Los cambios se han guardado correctamente",
                            timeout: 5000 // 10 seconds
                        });
                    }
                }
            });
        </script>
        <div>
            <nav class="navigation-bar light fixed-top shadow" >
                <nav class="navigation-bar-content">
                    <a href="/facturacion/factura/principal" class="element brand">
                        <i class="icon-home"></i>
                        Inicio
                    </a>
                    <span class="element-divider place-left"></span> 

                    <a class="element brand" href="{back_url}"><i class="icon-arrow-left-3"></i></a>
                    
                    <div class="element">
                        <a class="dropdown-toggle" href="#"><i class="icon-tools"></i> Mantenimientos</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li>
                                <a href="/facturacion/factura/series"><i class="icon-list"></i> Series</a>
                            </li>
                            <li>
                                <a href="/facturacion/factura/cajas"><i class="icon-calculate"></i> Cajas</a>            
                            </li>
                        </ul>
                    </div>

                    <div class="element">
                        <a class="dropdown-toggle" href="#"><i class="icon-history"></i> Transacciones</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li>
                                <a href="/facturacion/factura/nuevo"><i class="icon-cart"></i> Facturar</a>
                            </li>
                            <li>
                                <a href="/facturacion/factura/cambios"><i class="icon-tab"></i> Cambios</a>            
                            </li>
                            <li>
                                <a href="/facturacion/factura/notas_remision"><i class="icon-briefcase"></i> Notas de remisión</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="element">
                        <a class="dropdown-toggle" href="#"><i class="icon-remove"></i> Anulaciones</a>
                        <ul class="dropdown-menu" data-role="dropdown">
							<li>
                                <a href="/facturacion/factura/anular"> Anular factura</a>
							</li>
                        </ul>
                    </div>
   
                    <div class="element">
                        <a class="dropdown-toggle" href="#"><i class="icon-search"></i> Consultas</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li>
                                <a href="/{systemModuleName}/factura/productoEntrante">
                                    <i class="icon-cycle"></i> Producto en tránsito
                                </a>
                            </li>
                            <li>
                                <a href="/{systemModuleName}/factura/consultaCambio">
                                    <i class="icon-clock"></i> Cambios pendientes
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="element">
                        <a class="dropdown-toggle" href="#"><i class="icon-clipboard"></i> Reportes</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li>
                                <a href="/{systemModuleName}/report/ReporteDeVentas">
                                    Reporte de ventas
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="element place-right">
                        <a class="dropdown-toggle" href="#">
                            <span class="icon-cog"></span>
                            &nbsp;&nbsp;&nbsp;
                        </a>
                        <ul class="dropdown-menu place-right" data-role="dropdown">
                            <li><a href="/{systemModuleName}/logout/user">Salir</a></li>
                        </ul>
                    </div>
                    <span class="element-divider place-right"></span>
                    <button class="element place-right">
                        <i class="icon-user"></i> &nbsp;&nbsp;<strong>{username}</strong>
                    </button>
                    <span class="element-divider place-right"></span>
                    <a class="element place-right" href="#"> <p class="subheader-secondary" style="margin-top:-5px;"><i class="icon-enter" ></i> {TITULO}</p></a>
                </nav>
            </nav> 
            <br/>
            <br/>


            <div class="page-region" style="padding-left:30px; padding-top: 30px; padding-right: 15px;">
                {content}
            </div>
            <div style="clear:both;"></div>
        </div>
    </body>
</html>
