<section ng-controller="CajasController as vm" id="CajaCtrl">
    <div class="panel span12" style="margin:0 auto;">
        <div class="panel-header">
            Ingresar una nueva caja
        </div>
        <div class="panel-content">
            <form method="post" action="">
                <div class="grid">
                    <div class="row">
                        <div class="span3">
                            <p>ID caja: (0 = Nuevo)</p>
                            <div class="input-control text">
                                <input type="text" ng-model="vm.Caja.id" id="IdCaja" />
                            </div>
                            <br />
                            <div class="input-control checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.Caja.pCambioBodega" />
                                    <span class="check"></span>
                                    Permiso para cambiar bodega
                                </label>
                            </div>
                            <br/>
                            <p>Nombre:</p>
                            <div class="input-control text">
                                <input type="text" ng-model="vm.Caja.nombre" />
                            </div>
                            <br />
                            <p>Encargado:</p>
                            <div class="input-control select">
                                <select ng-model="vm.Caja.encargado">
                                    <option ng-repeat="usuario in vm.listaDeEmpleados" value="{{usuario.usuario}}">
                                        {{usuario.usuario}}
                                    </option>
                                </select>
                            </div>
                            <br />
                            <p>Bodega por defecto:</p>
                            <div class="input-control select">
                                <select ng-model="vm.Caja.bodegaPorDefecto">
                                    <option ng-repeat="bodega in vm.listaDeBodegas" value="{{bodega.id}}">
                                        {{bodega.nombre}}
                                    </option>
                                </select>
                            </div>
                            <br />
                            <p>Serie factura:</p>
                            <div class="input-control select">
                                <select ng-model="vm.Caja.serieFactura">
                                    <option ng-repeat="serie in vm.listaDeSeries | filter: {tipo : 'FC'}" value="{{serie.id}}">
                                        {{serie.serie1}}
                                    </option>
                                </select>
                            </div>
                            <br />
                            <p>Serie nota de crédito:</p>
                            <div class="input-control select">
                                <select ng-model="vm.Caja.serieNotaCredito">
                                    <option ng-repeat="serie in vm.listaDeSeries | filter: {tipo : 'NC'}" value="{{serie.id}}">
                                        {{serie.serie1}}
                                    </option>
                                </select>
                            </div>
                            <br />
                            <p>Serie nota de débito:</p>
                            <div class="input-control select">
                                <select ng-model="vm.Caja.serieNotaDebito">
                                    <option ng-repeat="serie in vm.listaDeSeries | filter: {tipo : 'ND'}" value="{{serie.id}}">
                                        {{serie.serie1}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="span4">
                            <p>Serie recibo:</p>
                            <div class="input-control select">
                                <select ng-model="vm.Caja.serieRecibo">
                                    <option ng-repeat="serie in vm.listaDeSeries | filter: {tipo : 'RC'}" value="{{serie.id}}">
                                        {{serie.serie1}}
                                    </option>
                                </select>
                            </div>
                            <br />
                            <p>Serie ticket:</p>
                            <div class="input-control select">
                                <select ng-model="vm.Caja.SerieTicket">
                                    <option ng-repeat="serie in vm.listaDeSeries | filter: {tipo : 'TI'}" value="{{serie.id}}">
                                        {{serie.serie1}}
                                    </option>
                                </select>
                            </div>
                            <br />
                            <p>Serie crédito fiscal:</p>
                            <div class="input-control select">
                                <select ng-model="vm.Caja.serieCreditoFiscal">
                                    <option ng-repeat="serie in vm.listaDeSeries | filter: {tipo : 'CF'}" value="{{serie.id}}">
                                        {{serie.serie1}}
                                    </option>
                                </select>
                            </div>
                            <br />
                            <p>Serie nota de remisión:</p>
                            <div class="input-control select">
                                <select ng-model="vm.Caja.serieNotaRemision">
                                    <option ng-repeat="serie in vm.listaDeSeries | filter: {tipo : 'NR'}" value="{{serie.id}}">
                                        {{serie.serie1}}
                                    </option>
                                </select>
                            </div>
                            <br />
                            <p>Ultimo pedido:</p>
                            <div class="input-control text">
                                <input type="text" ng-model="vm.Caja.ultimoPedido" disabled />
                            </div>
                            <br />
                            <p>Ultimo cambio;</p>
                            <div class="input-control text">
                                <input type="text" ng-model="vm.Caja.ultimoCambio" disabled />
                            </div>
                            <br /><br /><br />
                            <div style="text-align: center;">
                                <button type="button" id="btnGuardar" class="primary" ng-click="vm.InsertarCaja();">Guardar</button>
                            </div>                      
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<br />
<div class="panel span12" style="margin:0 auto;">
    <div class="panel-header">
        Cajas registradas
    </div>
    <div class="panel-content">
        <div id="bigbox" style="margin:15px;display:!none;">
            <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var grid_caja_id = "caja_grid";

    var dsOption = {
        fields: [
            { name: 'id' },
            { name: 'nombre' },
            { name: 'encargado' },
            { name: 'codigo_factura' },
            { name: 'codigo_nota_credito' },
            { name: 'codigo_recibo' },
            { name: 'codigo_ticket' },
            { name: 'bodega_por_defecto' }
        ],
        recordType: 'object'
    }

    var colsOption = [
        { id: 'serialnumber', header: "Código", width: 170 },
        { id: 'nombre', header: "Nombre", width: 250 },
        { id: 'encargado', header: "Encargado", width: 200 },
        { id: 'acciones', header: "Acciones", width: 200, renderer: verDetalleRender }
    ];


    var gridOption = {
        id: grid_caja_id,
        loadURL: '/facturacion/factura/ObtenerListaDeCajas',
        saveURL: '',
        width: "830", 
        height: "360",
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8',
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {},
        pageSize: 100,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | filter | nav state'
    };

    function verDetalleRender(value, record, columnObj, grid, colNo, rowNo) {

        var id = record['id'];

        return '<a href="javascript: void(0);" onclick="SetIdCaja('+id+');">Ver detales</a>';
    }

    function SetIdCaja(id) {
        angular.element("#IdCaja").val(id);
        $('#IdCaja').trigger('change');
        $('#IdCaja').trigger('input');
    }

    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function () {
        mygrid.render();
    });
</script>