<style>
    #info-bar input,#info-bar select{
        margin: 0px;
    }

    #info-titles{
        padding-left: 10px;
        padding-right: 10px;
    }

    #info-bar{
        margin-top: 10px;
        margin-right: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 15px;
        margin-bottom: 0px;
    }

    #info-titles p{
        width: 70px;
        margin-left: 2px;
        margin-right: 2px;
        float: left;
        text-align: center;
        font-size: 12px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>
<section ng-controller="PedidoController as vm">

    <div class="window" id="ventana_cambio" style="position:fixed;margin:0 auto;z-index:10000;top:-30px;display:none;">
        <div class="caption">
            <span class="icon icon-windows"></span>
            <div class="title">Traer cambio</div>
            <button class="btn-close"></button>
        </div>
        <div class="content" style="padding:50px;">
            <h3>Traer Cambios</h3>
            <p>
                # Cambio 
                <input type="text" ng-model="vm.nCambio" />
                <button ng-click=""> Aceptar </button>
            </p>
            <button ng-click=""> Cancelar </button>
        </div>
    </div>

    <section style="max-width:1100px;margin:0 auto;">
        
        <!-- encabezado -->
        <div style="text-align:right;padding-right:40px;">
            <div class="toolbar transparent">
                <button ng-click="vm.imprimirFactura();">
                    <i class="icon-printer on-left"></i>
                    Imprimir
                </button>
                <button ng-click="vm.reservar();">
                    <i class="icon-clock on-left"></i>
                    Reservar
                </button>
                <button ng-click="vm.sPane('fpendientes');">
                    <i class="icon-search on-left"></i>
                    Pendiente
                </button>
                <button ng-click="vm.sPane('ffacturas');">
                    <i class="icon-search on-left"></i>
                    Facturado
                </button>
                <button ng-click="vm.sPane('ffiscal');">
                    <i class="icon-search on-left"></i>
                    C.F
                </button>
                <button ng-click="vm.sPane('freservas');">
                    <i class="icon-search on-left"></i>
                    Reservas
                </button>
                <button ng-click="vm.traerCambio();">
                    <i class="icon-tab on-left"></i>
                    Cambios
                </button>
                <strong>VALE POR &nbsp;&nbsp;</strong>
                <div class="input-control select span3">
                    <select ng-model="vm.valeActivo">
                        <option ng-repeat="vale in vm.ValesCliente" value="{{vale.id}}"> {{vale.concepto}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr/>
        <!-- formulario de factura -->
        <form>
            <div style="display:table;">
                <div style="width:600px;float:left;margin-right: 40px;margin-bottom: 20px;">
                    <ul style="list-style:none;display:table;text-align:left;width:550px;font-size:12px;">
                        <li style="float:left;width:100px;">
                            <p># Pedido</p>
                            <input type="text" ng-model="vm.nPedido" ng-blur="vm.CargarPedido();" style="width:90px;" />
                        </li>
                        <li style="float:left;width:100px;">
                            <p>Cliente</p>
                            <input type="text" ng-model="vm.codigo_cliente" ng-blur="vm.GenerarPedido();" style="width:90px;" id="idCliente" />
                        </li>

                        <li style="float:left;width:140px;">
                            <p>Estado</p>
                            <select value="" ng-model="vm.festado" style="width:130px;" disabled="disabled">
                                <option></option>
                                <option value="PENDIENTE">PENDIENTE</option>
                            </select>
                        </li>
                        <li style="float:left;width:140px;">
                            <p>Forma pago</p>
                            <select value="" ng-model="vm.ftipo" style="width:130px;" disabled="disabled">
                                <option></option>
                                <option value="ND">ND</option>
                            </select>
                        </li>
                    </ul>
                    <hr />
                    <table style="width:600px;">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <p>Cliente &nbsp;&nbsp;&nbsp;</p>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="vm.nombre_cliente" style="width:100%;" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Direcci&oacute;n &nbsp;&nbsp;</p>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="vm.direccion" style="width:100%;" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Agente</p>
                                        </td>
                                        <td>
                                            <select style="width:100%;" readonly>
                                                <option>ND</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <p>Teléfono</p>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="vm.telefono_cliente" style="width:100%;" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>D&iacute;as cr&eacute;dito &nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="vm.dias_credito" style="width:100%;" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Concepto</p>
                                        </td>
                                        <td>
                                            <input type="text" style="width:100%;" ng-model="vm.concepto" value="COMPRAS" readonly />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="width:410px;background:#F3F3F3;padding:15px;float:left;margin-left: 20px;">
                    <div style="display:table;width:100%;">
                        <div style="float:left;">
                            <input type="text" ng-model="vm.credito" style="width:50px; margin-top: 2px;" readonly="readonly" />
                            &nbsp;&nbsp;Límite de crédito
                            <br />
                            <input type="text" ng-model="vm.credito_usado" style="width:50px;margin-top: 2px;" readonly="readonly" />
                            &nbsp;&nbsp;Deuda actual
                            <br />
                            <input type="text" ng-model="vm.disponible" style="width:50px;margin-top: 2px;" readonly="readonly" />
                            &nbsp;&nbsp;Saldo disponible
                            <br />
                            <input type="text" ng-model="vm.monto_extra" style="width:50px;margin-top: 2px;" readonly="readonly" />
                            &nbsp;&nbsp;Monto refinanciado
                            <br />
                        </div>
                        <div style="float:left;width:50%;margin-left: 20px;">
                            <input type="checkbox" ng-model="vm.bloqueado" disabled="disabled" />
                            Bloqueado
                            <br />
                            <input type="checkbox" ng-model="vm.tcredito" disabled="disabled" />
                            Tiene crédito
                            <br />
                            <input type="checkbox" ng-model="vm.extra_credito" disabled="disabled" />
                            Refinanciamiento
                            <br />
                            <input type="checkbox" ng-model="vm.transitorio" disabled="disabled" />
                            Transitorio
                            <br />
                            <input type="checkbox" ng-model="vm.empleado" disabled="disabled" />
                            Empleado
                        </div>
                    </div>
                    <br />
                    <table>
                        <tr>
                            <td><input type="text" ng-model="vm.telefono_celular" style="width:100px;" readonly="readonly" /></td>
                            <td><input type="text" ng-model="vm.telefono_oficina" style="width:100px;" readonly="readonly" /></td>
                            <td><input type="text" ng-model="vm.telefono_casa" style="width:100px;" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <td>Tel. móvil</td>
                            <td>Tel. oficina</td>
                            <td>Tel. casa</td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
            <hr />
            <!-- busqueda del producto -->
            <div class="input-control text" id="info-bar">
                <select ng-model="vm.Caja.bodega_por_defecto" style="width:150px;" ng-disabled="(!vm.PedidoActivo) || (!vm.Caja.p_cambio_bodega)">
                    <option ng-repeat="bodega in vm.ListaBodegas" value="{{bodega.id}}">{{bodega.nombre}}</option>
                </select>
                <select ng-model="vm.bLinea" style="width:130px;" ng-disabled="!vm.PedidoActivo">
                    <option ng-repeat="linea in vm.ListaLineas" value="{{linea.id_categoria_especifica}}">{{linea.nombre}}</option>
                </select>
                <input type="text" ng-model="vm.bEstilo" style="width:70px;padding: 0px;" onblur="verificarExistencia();" ng-disabled="!vm.PedidoActivo" />

                <input type="text" ng-model="vm.bColor" style="width:70px;padding: 0px;" ng-disabled="!vm.PedidoActivo" />

                <input type="text" ng-model="vm.bTalla" style="width:70px;padding: 0px;" ng-blur="vm.ConsultaExistencias();" ng-disabled="!vm.PedidoActivo">

                <input type="text" ng-model="vm.bPrecio" style="width:70px;padding: 0px;" readonly />

                <input type="hidden" ng-model="vm.bCosto" style="width:70px;padding: 0px;" readonly />

                <input type="text" ng-model="vm.bCantidad" style="width:70px;padding: 0px"  />

                <input type="text" ng-model="vm.bPorcentaje" style="width:70px;padding: 0px" readonly />

                <input type="text" ng-model="vm.bDescuento" style="width:70px;padding: 0px" readonly />

                <input type="text" ng-model="vm.bImporte" style="width:70px;padding: 0px" readonly />

                <input type="text" ng-model="vm.bSerie" style="width:70px;padding: 0px" readonly />

                <input type="text" ng-model="vm.bSerie" style="width:70px;padding: 0px" readonly />

                <button onfocus="agregarCompra(event);" onclick="agregarCompra(event);" id="Enter" ng-disabled="!vm.PedidoActivo"><i class="icon-enter-2"></i></button>
            </div>
            <div id="info-titles">
                <p style="padding-right:150px;">Bodega</p>
                <p style="padding-right:130px;">Linea</p>
                <p>Estilo</p>
                <p>Color</p>
                <p>Talla</p>
                <p>Precio</p>
                <p>Cantidad</p>
                <p>% Desc</p>
                <p>Monto Desc</p>
                <p>Importe</p>
                <p>S. garant&iacute;a</p>
            </div>
        </form>
        <br />
        <hr/>

        <div id="bigbox" style="margin-top: 10px; margin-right:25px;display:!none;float:left;">
            <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

            </div>
        </div>

        <div style="width:310px;float:left;text-align:right;background:#F3F3F3;padding-right:30px;margin-top:10px;margin-bottom: 5px;">
            <form>
                <div>
                    <h6>[Caja No. {{vm.Caja.id}} / {{vm.Caja.nombre}}]</h6>
                    <h6>Siguiente pedido: <span id="NoFactura">{{vm.nPedido + 1}}</span></h6>
                    <br />
                    Subtotal <input type="text" ng-model="vm.SubTotal" readonly style="width:75px; margin-bottom: 1px;" />
                    <br />
                    (-) Descuento <input type="text" ng-model="vm.Descuento" readonly style="width:75px; margin-bottom: 1px;" />
                    <br />
                    (+) IVA <input type="text" ng-model="vm.Iva" readonly style="width:75px; margin-bottom: 1px;" />
                    <br />
                    <strong>TOTAL A FACTURAR</strong> <input type="text" readonly ng-model="vm.Total" style="width:75px; margin-bottom: 2px;" />
                    <br />
                    <br />
                    <button class="bg-color-blue fg-color-white" type="button" onclick="facturacion();" id="buy" ng-disabled="!vm.PedidoActivo">Efectuar venta</button>
                </div>
            </form>
        </div>

        <section>
            <div ng-show="vm.MostrarSelector" style="background:#fff;position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:100001;text-align:center;">
                <div id="bigbox6" style="margin:15px;display:!none;">
                    <div id="gridbox6" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

                    </div>
                </div>
                <br />
                <br />
                <button class="success large" ng-click="vm.AplicarSeleccion();"> <i class="icon-arrow-down-3"></i> Aceptar</button>
            </div>
        </section>

        <!-- PANELES -->
        <div id="fpendientes" class="sidePane" style="width:600px;height:100%;background:#fff;position:fixed;top:0px;right:-620px;z-index:100000;box-shadow:-1px -1px 4px 1px #000;padding-left:20px;">
            <h3>Pedidos pendientes</h3>
            <p>Los pedidos pendientes se pierden después de 1 día sin ser facturados</p>
            <br />
            <br />
            <div id="bigbox10" style="margin:15px;display:!none;float:left;">
                <div id="gridbox10" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

                </div>
            </div>
            <br />
            <button onclick="closePane('fpendientes')" class="primary">Cerrar panel</button>
        </div>
        <div id="ffacturas" class="sidePane" style="width:600px;height:100%;background:#fff;position:fixed;top:0px;right:-620px;z-index:100000;box-shadow:-1px -1px 4px 1px #000;padding-left:20px;overflow: auto;">
            <h3>Facturas</h3>
            <br />
            <br />
            <div id="bigbox11" style="margin:15px;display:!none;float:left;">
                <div id="gridbox11" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

                </div>
            </div>
            <br />
            <button onclick="closePane('ffacturas')" class="primary">Cerrar panel</button>
        </div>
        <div id="ffiscal" class="sidePane" style="width:600px;height:100%;background:#fff;position:fixed;top:0px;right:-620px;z-index:100000;box-shadow:-1px -1px 4px 1px #000;padding-left:20px;overflow: auto;">
            <h3>Crédito fiscal</h3>
            <br />
            <br />
            <div id="bigbox12" style="margin:15px;display:!none;float:left;">
                <div id="gridbox12" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

                </div>
            </div>
            <br />
            <button onclick="closePane('ffiscal')" class="primary">Cerrar panel</button>
        </div>
        <div id="freservas" class="sidePane" style="width:600px;height:100%;background:#fff;position:fixed;top:0px;right:-620px;z-index:100000;box-shadow:-1px -1px 4px 1px #000;padding-left:20px;overflow: auto;">
            <h3>Reservas</h3>
            <p>Las reservas se pierden de forma automática después de 3 días</p>
            <br />
            <br />
            <div id="bigbox13" style="margin:15px;display:!none;float:left;">
                <div id="gridbox13" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

                </div>
            </div>
            <br />
            <button onclick="closePane('freservas')" class="primary">Cerrar panel</button>
        </div>
        <div style="clear: both;"></div>
        <div id="metodo_pago" style="display: none;padding: 30px;height:100%; z-index:1000000; background: #fff; width:100%; position: absolute; top: 0px; left: 0px;">
            <h2>Forma de pago Factura</h2>
            <p>
                <br /><br /><br />
            </p>
            <div class="grid">
                <div class="row">
                    <div class="span5">
                        <table>
                            <tr>
                                <td><p><strong>Monto</strong> </p></td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" value="0.0" onkeyup="validarCantidad(event);" id="inptCbr" style="text-align: right;" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Efectivo </p></td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" value="0.0" onchange="cEfectivo(event);" onkeyup="validarCantidad(event);" id="inptEfec" style="text-align: right;" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Cheque </p></td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" value="0.0" onchange="cCheque(event);" onkeyup="validarCantidad(event);" id="inptChec" style="text-align: right;" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Tarjeta </p></td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" value="0.0" onchange="cTarjeta(event);" onkeyup="validarCantidad(event);" id="inptTarj" style="text-align: right;" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><button id="btnDep" onclick="$('#utilizar_boleta').css('display','block');">Depósito</button></td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" value="0.0" id="inptDepo" onchange="cDeposito(event);" onkeyup="validarCantidad(event);" style="text-align: right;" readonly />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="span6">
                        <table>
                            <tr>
                                <td><p>Número</p></td>
                                <td><p>Fecha/Vence</p></td>
                                <td><p>Banco/Autorización</p></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" class="chk" id="c_numero" disabled />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" class="chk" id="c_fecha" maxlength="10" onkeyup="mascara(this, '-', patron_fecha, true)" placeholder=" - - " disabled />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" class="chk" id="c_banco" disabled />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" class="tar" maxlength="19" onkeyup="mascara(this, '-', patron_tarjeta, true)" placeholder=" - - - " disabled />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" class="tar" onkeyup="mascara(this, '/', patron_fecha_tarjeta, true)" maxlength="5" placeholder=" / " disabled />
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <p><br /></p>
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        Concepto
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                    </p>
                                </td>
                                <td colspan="2">
                                    <div class="input-control text span4">
                                        <input type="text" id="nCon" readonly />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <p>
                <br />
                <br />
                <strong style="color: red;">
                    Cambio
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </strong>
                $<span id="cambioCobro">0.0</span>
                <br />
                <br />
            </p>
            <button class="large" onclick="facturar_contado();$('#metodo_pago').css('display','none');" "><i class="icon-printer"></i> Imprimir</button>
            <button class="large" id="btnClose"><i class="icon-cancel" style="color: red;"></i> Cancelar</button>
        </div>
        <div id="utilizar_boleta" style="display: none;padding: 30px;height:100%; z-index:10000000; background: #fff; width:100%; position: absolute; top: 0px; left: 0px;">
            <h2>Utilizar boleta</h2>
            <p>Código cliente-> <strong id="lblCliente"></strong><br /></p>
            <div class="grid">
                <div class="row">
                    <div class="span6">
                        <table style="text-align: center;">
                            <tr>
                                <td>
                                    <div class="input-control select span3">
                                        <select id="S_casacredito">
                                            <!-- START bancos2 -->
                                            <option value="{id}">{casa}</option>
                                            <!-- END bancos2 -->
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" onchange="cargarBoleta();" id="S_boleta" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-control text">
                                        <input type="text" id="S_utilizar" value="0.0" onkeyup="validarSaldo();" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Banco</td>
                                <td>Boleta #</td>
                                <td>Utilizar</td>
                            </tr>
                        </table>
                    </div>
                    <div class="span4">
                        <button onclick="establecerDeposito();$('#utilizar_boleta').css('display','none');"> <i class="icon-floppy"></i> Guardar </button>
                        <button> Borrar</button>
                        <button onclick="$('#utilizar_boleta').css('display','none');"> <i class="icon-cancel"></i> Cancelar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        Banco
                        <div class="input-control select">
                            <select id="M_banco" disabled>
                                <!-- START bancos -->
                                <option value="{id}">{casa}</option>
                                <!-- END bancos -->
                            </select>
                        </div>
                        # Boleta
                        <div class="input-control text">
                            <input type="text" id="M_boleta" disabled />
                        </div>
                        Cliente
                        <div class="input-control text">
                            <input type="text" id="m_codigo_cliente" disabled />
                        </div>
                        Fecha boleta
                        <div id="fecha" class="input-control text">
                            <input type="text" id="M_fecha" disabled />
                            <button type="button" class="btn-date"></button>
                        </div>
                        Monto original
                        <div class="input-control text">
                            <input type="text" value="0.0" id="M_monto" disabled />
                        </div>
                        Saldo
                        <div class="input-control text">
                            <input type="text" value="0.0" id="M_saldo" disabled />
                        </div>
                    </div>
                    <div class="span3">
                        Solicitado por
                        <div class="input-control select">
                            <select id="M_solicitado_por" disabled></select>
                        </div>
                        Fecha solicitud
                        <div class="input-control text">
                            <input type="text" id="M_fecha_solicitud" value="" disabled />
                        </div>
                        Autorizado por
                        <div class="input-control select">
                            <select id="M_autorizado_por" disabled></select>
                        </div>
                        Fecha autorización
                        <div class="input-control text">
                            <input type="text" id="M_fecha_autorizacion" disabled />
                        </div>
                        Estatus
                        <div class="input-control select">
                            <select id="M_estatus" disabled>
                                <option value="1">
                                    Pendiente
                                </option>
                                <option value="2">
                                    Aprobado
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<script type="text/javascript" >

    var pendientes_grid = "pendientes_grid";


    var dsOptionPendientes = {
        fields: [
            {name: 'serie'},
            {name: 'pedido'},
            {name: 'caja'},
            {name: 'pedido'},
            {name: 'fecha'},
            {name: 'subtotal'},
            {name: 'descuento'},
            {name: 'total'}
        ],
        recordType: 'object'
    }

    var colsOptionPendientes = [
        {id: 'codigo_factura', header: "Serie ", width: 50},
        {id: 'pedido', header: "No.Pedido", width: 80},
        {id: 'caja', header: "Caja", width: 40},
        {id: 'fecha', header: "Fecha emision", width: 100},
        {id: 'subtotal', header: "Subtotal", width: 90},
        {id: 'descuento', header: "Descuento", width: 90},
        {id: 'total', header: "Total", width: 90}

    ];


    var gridOptionPendientes = {
        id: pendientes_grid,
        loadURL: '',
        saveURL: '',
        width: "543", //"100%", // 700,
        height: "360", //"100%", // 330,
        container: 'gridbox10',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOptionPendientes,
        columns: colsOptionPendientes,
        clickStartEdit: true,
        allowCustomSkin: true,
        skin: 'mac',
        remotePaging: true,
        autoLoad: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 30,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygridPendientes = new Sigma.Grid(gridOptionPendientes);
        Sigma.Util.onLoad(function() {
        mygridPendientes.render();
    });
    
    var reservas_grid = "reservas_grid";


    var dsOptionReservas = {
        fields: [
            {name: 'serie'},
            {name: 'pedido'},
            {name: 'caja'},
            {name: 'pedido'},
            {name: 'fecha'},
            {name: 'subtotal'},
            {name: 'descuento'},
            {name: 'total'}
        ],
        recordType: 'object'
    }

    var colsOptionReservas = [
        {id: 'codigo_factura', header: "Serie ", width: 50},
        {id: 'pedido', header: "No.Pedido", width: 80},
        {id: 'caja', header: "Caja", width: 40},
        {id: 'fecha', header: "Fecha emision", width: 100},
        {id: 'subtotal', header: "Subtotal", width: 90},
        {id: 'descuento', header: "Descuento", width: 90},
        {id: 'total', header: "Total", width: 90}

    ];


    var gridOptionReservas = {
        id: reservas_grid,
        loadURL: '',
        saveURL: '',
        width: "543", //"100%", // 700,
        height: "360", //"100%", // 330,
        container: 'gridbox13',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOptionReservas,
        columns: colsOptionReservas,
        clickStartEdit: true,
        allowCustomSkin: true,
        skin: 'mac',
        remotePaging: true,
        autoLoad: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 30,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygridReservas = new Sigma.Grid(gridOptionReservas);
        Sigma.Util.onLoad(function() {
        mygridReservas.render();
    });

     var facturas_grid = "facturas_grid";


    var dsOptionFacturas = {
        fields: [
            {name: 'serie'},
            {name: 'nofac'},
            {name: 'caja'},
            {name: 'noped'},
            {name: 'fefac'},
            {name: 'formapago'},
            {name: 'rd_cod'},
            {name: 'anulado'},
            {name: 'venta_b'},
            {name: 'descuento'},
            {name: 'total'}
        ],
        recordType: 'object'
    }

    function tipo_render(value, record, columnObj, grid, colNo, rowNo){
        if(record['formapago']==2) return 'CREDITO';
        if(record['formapago']==1) return 'CONTADO';
        
        return 'INDEFINIDO';
    }
    
    var colsOptionFacturas = [
        {id: 'serie', header: "Serie ", width: 50},
        {id: 'nofac', header: "No. Factura", width: 80},
        {id: 'caja', header: "Caja", width: 40},
        {id: 'noped', header: "# Pedido", width: 70},
        {id: 'rd_cod', header: "Cliente", width: 75},
        {id: 'fefac', header: "Fecha emision", width: 100},
        {id: 'formapago', header: "Forma pago", width: 100, renderer:tipo_render},
        {id: 'anulado', header: "Anulado", width: 70},
        {id: 'venta_b', header: "Subtotal", width: 70},
        {id: 'descuento', header: "Descuento", width: 80},
        {id: 'total', header: "Total", width: 70}

    ];


    var gridOptionFacturas = {
        id: facturas_grid,
        loadURL: '',
        saveURL: '',
        width: "810", //"100%", // 700,
        height: "360", //"100%", // 330,
        container: 'gridbox11',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOptionFacturas,
        columns: colsOptionFacturas,
        clickStartEdit: true,
        allowCustomSkin: true,
        remotePaging: true,
        autoLoad: true,
        skin: 'mac',
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygridFacturas = new Sigma.Grid(gridOptionFacturas);
        Sigma.Util.onLoad(function() {
        mygridFacturas.render();
    });    


    var creditofiscal_grid = "creditofiscal_grid";


    var dsOptionCF = {
        fields: [
            {name: 'serie'},
            {name: 'id'},
            {name: 'caja'},
            {name: 'pedido'},
            {name: 'fecha'},
            {name: 'tipo'},
            {name: 'estado'},
            {name: 'subtotal'},
            {name: 'descuento'},
            {name: 'total'}
        ],
        recordType: 'object'
    }

    var colsOptionCF = [
        {id: 'serie', header: "Serie ", width: 50},
        {id: 'nofac', header: "No. Factura", width: 80},
        {id: 'caja', header: "Caja", width: 40},
        {id: 'noped', header: "# Pedido", width: 70},
        {id: 'rd_cod', header: "Cliente", width: 75},
        {id: 'fefac', header: "Fecha emision", width: 100},
        {id: 'formapago', header: "Forma pago", width: 100, renderer:tipo_render},
        {id: 'anulado', header: "Anulado", width: 70},
        {id: 'monto', header: "Subtotal", width: 70},
        {id: 'iva', header: "IVA", width: 70},
        {id: 'descuento', header: "Descuento", width: 80},
        {id: 'total', header: "Total", width: 70}

    ];


    var gridOptionCF = {
        id: creditofiscal_grid,
        loadURL: '',
        saveURL: '',
        width: "880", //"100%", // 700,
        height: "360", //"100%", // 330,
        container: 'gridbox12',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        allowCustomSkin: true,
        skin: 'mac',
        remotePaging: true,
        autoLoad: true,
        columns: colsOptionCF,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 30,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygridCF = new Sigma.Grid(gridOptionCF);
    Sigma.Util.onLoad(function() {
        mygridCF.render();
    });    

    var grid_demo_id = "factura_grid";

    var dsOption = {
        fields: [
            { name: 'descripcion' },
            { name: 'precio' },
            { name: 'cantidad' },
            { name: 'porcentaje' },
            { name: 'descuento' },
            { name: 'importe' },
            { name: 'id_factura' },
            { name: 'id' }
        ],
        recordType: 'object'
    }

    var colsOption = [
        { id: 'descripcion', header: "Descripcion", width: 250 },
        { id: 'precio', header: "Precio", width: 80 },
        { id: 'cantidad', header: "Cantidad", width: 80 },
        { id: 'porcentaje', header: "%", width: 80 },
        { id: 'descuento', header: "Descuento", width: 80 },
        { id: 'importe', header: "Importe", width: 80 },
        { id: 'opt', header: "Opciones", width: 80, renderer: del_render }
    ];

    var gridOption = {
        id: grid_demo_id,
        loadURL: '',
        saveURL: '',
        width: "732", //"100%", // 700,
        height: "320", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        allowCustomSkin: true,
        skin: 'mac',
        clickStartEdit: true,
        defaultRecord: { 'id': "00", 'nombre': "" },
        remotePaging: true,
        autoLoad: true,
        pageSize: 10,
        toolbarContent: 'nav state'
    };

    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function () {
        mygrid.render();
    });


    /* renderizado para el grid, permite la eliminacion de elementos en las facturas */
    function del_render(value, record, columnObj, grid, colNo, rowNo) {
        return '<a href="javascript:void(0);" onclick="delete_item(' + record['id'] + ', ' + record['precio'] + ')">Eliminar</a>';
    }


    var ResumenStock = "stock_grid";

    var dsOptionResumenStock = {
        fields: [
            { name: 'linea' },
            { name: 'estilo' },
            { name: 'color' },
            { name: 'talla' },
            { name: 'bodega' },
            { name: 'stock' }
        ],
        recordType: 'object'
    }
    var colsOptionResumenStock = [
        { id: 'linea', header: "Linea", width: 100 },
        { id: 'estilo', header: "Estilo", width: 100 },
        { id: 'color', header: "Color", width: 100 },
        { id: 'talla', header: "Talla", width: 100 },
        { id: 'ingresan', header: "Ingresan", width: 100, renderer: input_render },
        { id: 'stock', header: "Stock", width: 100, renderer: stock_render },
        { id: 'costo', header: "Costo", width: 100 },
        { id: 'precio', header: "Precio", width: 100 },
        { id: 'bodega', header: "Bodega", width: 100 }
    ];

    var gridOption3 = {
        id: ResumenStock,
        loadURL: '',
        saveURL: '',
        width: "900", //"100%", // 700,
        height: "320", //"100%", // 330,
        container: 'gridbox6',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOptionResumenStock,
        columns: colsOptionResumenStock,
        clickStartEdit: true,
        defaultRecord: { 'id': "00", 'nombre': "" },
        pageSize: 10,
        remotePaging: true,
        autoLoad: false,
        toolbarContent: ' nav state'
    };


    function input_render(value, record, columnObj, grid, colNo, rowNo) {
        string_ = record['linea'] + '_' + record['estilo'] + '_' + record['color'] + '_' + record['talla'] + '_' + record['costo'] + '_' + record['stock'] + '_' + record['precio'];
        return '<input type="text" value="0" class="items" id="' + string_ + '"/>';
    }

    function stock_render(value, record, columnObj, grid, colNo, rowNo) {
        if (value == "" || value == " " || value == null) {
            return "0";
        } else {
            return value;
        }
    }

    var mygrid3 = new Sigma.Grid(gridOption3);

    Sigma.Util.onLoad(function () {
        mygrid3.render();
    });

</script>