<section ng-controller="SeriesController as vm">
    <div class="panel span12" style="margin:0 auto;">
        <div class="panel-header">
            Ingresar una nueva serie
        </div>
        <div class="panel-content">
            <form method="post" action="">
                <div class="grid">
                    <div class="row">
                        <div class="span3">
                            <p>Fecha de resolución:</p>
                            <div id="datepicker" class="input-control text" data-role="datepicker"
                                 data-date="2013-01-01"
                                 data-format="yyyy-mm-dd">

                                <input type="text" id="datePicker" />
                                <button type="button" class="btn-date"></button>
                            </div>
                            <br />
                            <p>Autorizado del:</p>
                            <div class="input-control text">
                                <input type="text" ng-model="vm.Serie.autorizadoDel" />
                            </div>
                            <br />
                            <p>Al:</p>
                            <div class="input-control text">
                                <input type="text" ng-model="vm.Serie.autorizadoAl" />
                            </div>
                            <br />
                            <p>Serie:</p>
                            <div class="input-control text">
                                <input type="text" ng-model="vm.Serie.serie" required="required" />
                            </div>
                            <br />
                            <br />
                            &nbsp;<button type="button" id="btnGuardar" class="primary" ng-click="vm.InsertarSerie();">Guardar</button>
                        </div>
                        <div class="span4">
                            <p>Último utilizado:</p>
                            <div class="input-control text">
                                <input type="text" disabled="disabled" ng-model="vm.Serie.ultimoUtilizado" />
                            </div>
                            <br />
                            <p>Descripción:</p>
                            <div class="input-control text">
                                <input type="text" ng-model="vm.Serie.descripcion" requirrequireded="" />
                            </div>
                            <br />
                            <p># Resolución:</p>
                            <div class="input-control text">
                                <input type="text" ng-model="vm.Serie.numeroResolucion" />
                            </div>
                            <br />
                            <p>Tipo:</p>
                            <div class="input-control select">
                                <select style="font-family:monospace;width:100%;" id="tipo" ng-model="vm.Serie.tipo">
                                    <option ng-repeat="tipo in vm.listaTipoSeries" value="{{tipo.id}}">{{tipo.nombre}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<br/>
<div class="panel span12" style="margin:0 auto;">
    <div class="panel-header">
        Series registradas
    </div>
    <div class="panel-content">
        <div id="bigbox" style="margin:15px;display:!none;">
            <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" >

    var grid_series = "grid_series";

    var dsOption = {
        fields: [
            {name: 'tipo'},
            {name: 'serie'},
            {name: 'fecha'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'tipo', header: "Tipo", width: 100},
        {id: 'serie1', header: "Serie", width: 100},
        {id: 'del', header: "Del", width: 75},
        {id: 'al', header: "Al", width: 75},
        {id: 'ultimo_utilizado', header: "Ultimo utilizado", width: 100},
        {id: 'descripcion', header: "Descripcion", width: 350}

    ];

    var gridOption = {
        id: grid_series,
        loadURL: '/facturacion/factura/ObtenerListaDeSeries',
        saveURL: '',
        width: "800", 
        height: "360",
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8',  
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | filter | nav state'
    };

    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render();
    });
</script>