<style type="text/css">
            body{
                background: url(../static/img/banner.jpg) no-repeat;
                background-position: bottom right;
            }
</style>
<div class="panel span10" data-role="panel">
	<div class="panel-header">
		Gestión de ventas	
	</div>
	<div class="panel-content">
		<p>
            La factura, factura de compra o factura comercial es un documento mercantil que refleja toda la información de una operación de compraventa. La información fundamental que aparece en una factura debe reflejar la entrega de un producto o la provisión de un servicio, junto a la fecha de devengo, además de indicar la cantidad a pagar en relación a existencias, bienes de una empresa para su venta en eso ordinario de la explotación, o bien para su transformación o incorporación al proceso productivo, además de indicar el tipo de IVA que se debe aplicar.
		</p>
	</div>
</div>
<p>
	<br/>
</p>
<div class="panel span10" data-role="panel">
	<div class="panel-header bg-lightBlue fg-white">
		Características	
	</div>
	<div class="panel-content">
		<p>
			Funciones disponibles:
			<ul>
				<li>Emisión y anulación de facturas</li>
				<li>Gestion de cambios de producto</li>
				<li>Gestión de cajas</li>
				<li>Gestión de series de facturas</li>
			</ul>
		</p>
	</div>
</div>